//
// _variable-custom.scss
//

// Main Logo Height
$logo-lg-height: var(--#{$prefix}logo-lg-height);
$logo-sm-height: var(--#{$prefix}logo-sm-height);

// Vertical Menu
$main-nav-width: var(--#{$prefix}main-nav-width);
$main-nav-width-sm: var(--#{$prefix}main-nav-width-sm);

// Main Nav Menu
$main-nav-item-icon-size: var(--#{$prefix}main-nav-item-icon-size);
$main-nav-item-font-size: var(--#{$prefix}main-nav-item-font-size);
$main-nav-item-padding-x: var(--#{$prefix}main-nav-item-padding-x);
$main-nav-item-padding-y: var(--#{$prefix}main-nav-item-padding-y);

// Main Nav Menu
$main-nav-bg: var(--#{$prefix}main-nav-bg);
$main-nav-item-color: var(--#{$prefix}main-nav-item-color);
$main-nav-item-hover-bg: var(--#{$prefix}main-nav-item-hover-bg);
$main-nav-item-hover-color: var(--#{$prefix}main-nav-item-hover-color);
$main-nav-border-color: var(--#{$prefix}main-nav-border-color);

// Topbar
$topbar-height: var(--#{$prefix}topbar-height);
$topbar-bg: var(--#{$prefix}topbar-bg);
$topbar-item-color: var(--#{$prefix}topbar-item-color);
$topbar-search-bg: var(--#{$prefix}topbar-search-bg);

// Footer
$footer-height: var(--#{$prefix}footer-height);
$footer-color: var(--#{$prefix}link-color);
